<%- include('layout/header_login') %>

    <div class="popup">
        <div class="login-wrapper active-popup"> 
            <span class="icon-close">
                <ion-icon name="close-outline"></ion-icon>
            </span>
            <div class="form-box register">
                <h2>Daftar</h2>
                <form action="/register" method="POST">
                    <div class="input-box">
                        <span class="icon"><ion-icon name="person-outline"></ion-icon></span>
                        <input type="text" name="username" required>
                        <label>Username</label>
                    </div>
                    <div class="input-box">
                        <span class="icon"><ion-icon name="mail-outline"></ion-icon></span>
                        <input type="email" name="email" required>
                        <label>Email</label>
                    </div>
                    <div class="input-box">
                        <span class="icon"><ion-icon name="lock-closed-outline"></ion-icon></span>
                        <input type="password" name="password" required>
                        <label>Password</label>
                    </div>
                    <div class="ingat">
                        <label><input type="checkbox"> Agree Terms & Condition</label>
                    </div>
                    <button type="submit" class="btnn">Buat Akun</button>
                    <div class="login-register">
                        <p>Udah Ada Akun? <a href="#" class="login-link"> Login </a></p>
                    </div>
                </form>
            </div>
        </div>
    </div>

<%- include('layout/footer') %>