<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Login - SB Admin</title>
        <link href="styles.css" rel="stylesheet" />
        <script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>
    </head>
    <body>
        <div class="popup">
            <div class="login-wrapper">
                <span class="icon-close">
                    <ion-icon name="close-outline"></ion-icon>
                </span>
        
                <div class="form-box login">
                    <h2>Login</h2>
                    
                    <form action="/login" method="POST">
                        <div class="input-box">
                            <span class="icon"><ion-icon name="mail-outline"></ion-icon></span>
                            <input type="email" name="email" required>
                            <label>Email</label>
                        </div>
                        <div class="input-box">
                            <span class="icon"><ion-icon name="lock-closed-outline"></ion-icon></span>
                            <input type="password" name="password" required>
                            <label>Password</label>
                        </div>
                        <div class="ingat">
                            <label><input type="checkbox"> Simpan password</label>
                            <a href="#">Lupa password?</a>
                        </div>
                        <button type="submit" class="btnn">Login</button>
                        <div class="login-register">
                            <p>Belum punya akun bro? <a href="#" class="register-link"> Daftar </a></p>
                        </div>
                    </form>
                    
                    <% if (typeof errorMessage !== 'undefined') { %>
                        <p class="error-message"><%= errorMessage %></p>
                    <% } %>
                </div>
        
                
                <div class="form-box register">
                    <h2>Daftar</h2>
                    <form action="/register" method="POST">
                        <div class="input-box">
                            <span class="icon"><ion-icon name="person-outline"></ion-icon></span>
                            <input type="text" name="username" required>
                            <label>Username</label>
                        </div>
                        <div class="input-box">
                            <span class="icon"><ion-icon name="mail-outline"></ion-icon></span>
                            <input type="email" name="email" required>
                            <label>Email</label>
                        </div>
                        <div class="input-box">
                            <span class="icon"><ion-icon name="lock-closed-outline"></ion-icon></span>
                            <input type="password" name="password" required>
                            <label>Password</label>
                        </div>
                        <div class="ingat">
                            <label><input type="checkbox"> Agree Terms & Condition</label>
                        </div>
                        <button type="submit" class="btnn">Buat Akun</button>
                        <div class="login-register">
                            <p>Udah Ada Akun? <a href="#" class="login-link"> Login </a></p>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        
        <script src="script.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
    </body>
</html>
